* {
    box-sizing: border-box;
    margin: 0px;
    padding:0px;
}

html {
    overflow-x:hidden;
}

:root {
    --regular: 400;
    --bold: 900;
}

body {
    font-family: 'Unbounded', cursive;

}

.wrapper {
    width: 100%;
    height: 100vh;
    padding:1em;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr;
    overflow-y: hidden;
    position: relative;
    transition: all 1s linear;
}

.wrapperStart {
    grid-template-rows: 1fr 0fr;
}


.wrapper > div:last-child {
    align-items: flex-start;
}

.topbar {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
}

.topbar > div:first-child {
    grid-column: 1 / 4;
}

.topbar > div:nth-child(5) {
    grid-column: 3 / 4;
}
.topbar > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.topbar h1 {
    font-size: 3.5rem;  
}

.p1box, 
.p2box {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
}

.p1box #p1Name,
.p2box #p2Name {
    font-size: 1.5rem;
    font-family: 'Unbounded', cursive;
    font-weight: var(--bold);
    width: 70%;
    padding:0em 0em 0em .5em;
    margin:0px 0px 1em 0px;
    border:none;
    border-bottom:1px solid #000;
}

.p1box #p1Name:focus,
.p2box #p2Name:focus {
    outline: none;
    border-bottom:1px solid rgb(229, 93, 173);
}

.p2box #p2Name:focus {
    border-bottom:1px solid rgb(93, 172, 229);
}

.p1box > div,
.p2box > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    max-width: 50%;
    min-width:170px;
    justify-items: center;
    align-items: start;
}

.p1box > div > div,
.p2box > div > div {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: start;
    height: -webkit-fill-available;
    height: -moz-available;
    height: fill-available;
    width: 100%;
}

.p1box > div label,
.p2box > div label {
    font-size: .7rem;
}

.shapeSelect {
    position: relative;
}

.shapeSelect #p1Select,
.shapeSelect #p2Select {
    height:-webkit-fill-available;
    height:-moz-fill-available;
    height:fill-available;
    appearance: none;
    width: auto;
    padding:0px 1.5em 0px .2em;
    border:0px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.shapeSelect::after {
    content: '‹';
    display: block;
    transform: rotate(-90deg);
    position: absolute;
    top:40px;
    right:10px;
    color:#555;
}

#p1Select:focus,
#p2Select:focus {
    outline: none;
}

.colorSelect input[type='color'] {
    --dim : 34px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 20px;
    width: calc(var(--dim) - 3px);
    height: var(--dim);
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

.colorSelect input[type='color']::-webkit-color-swatch {
    border-radius: 30px;
}

.startAndScore {
    display: grid;
    grid-template-rows: 60%;
    height: 100%;
    overflow-y: hidden;
    align-content: center;
}

.startButton {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:1;
    transition:all .2s linear;
}

.startButton button,
.resetButton button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    width: 100%;
    border:1px solid #ccc;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    padding:.5em 0em;
    text-transform: uppercase;
    font-family: 'Unbounded', cursive;
}

.scoreboard {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    row-gap: 1em;
    column-gap: .5em;
    opacity:1;
    transition: all .3s linear;
}

.p1Score, .p2Score {
    grid-row: 1 / 3;
    display: grid;
    align-items: center;
    font-size:3rem;
}

.p1Score {
    border-right: 1px solid #ccc;
    padding:0em .5em 0em 0em;
}

.p2Score {
    grid-column: 3 / 4;
    border-left: 1px solid #ccc;
    padding:0em 0em 0em .5em;
}

.resetButton {
    grid-column: 2 / 3;
    width: 100%;
}

.startButton button:hover,
.resetButton button:hover {
    border-color: transparent;
    background-color: #000;
    color:#fff;
}

.displayNone {
    display: none;
}

.opacityOff {
    opacity: 0;
}

/* bottom  */

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y:hidden;
    position: relative;
    width: 100%;
}

.bottomHeight {
    height: inherit;
}

.boardWrapper {
    --dimension: 430px;
    border:1px solid #000;
    min-width: var(--dimension);
    height: var(--dimension);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    position: absolute;
    top:0vh;
    transition: all .5s ease-out;
}

.boardWrapperTop {
    top:100vh;
}

.boardWrapper > div {
    border:1px solid rgb(212, 212, 212);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    text-shadow: 1px 1px 3px rgb(66 66 66 / 30%);
}